{% macro display() %}
{% set data = load_data(path="data/members.json") %}
<div style="overflow: auto">
    <h3>Professor</h3>
    {% set prof = data | filter(attribute="position", value="Professor") %}
    {% for member in prof %}
    <p><b>{{ member.name | markdown(inline=true) | safe }}</b></p>
    <ul class="member-list">
        <li>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
        <li>Office: {{ member.location }}</li>
        {% if member.links %}
        <li>Link: {% for link_data in member.links %} <u><a href="{{ link_data.link }}">[{{ link_data.link_type }}]</a></u>{% endfor %}</li>
        {% endif %}
    </ul>
    {% endfor %}
    <hr/><br/>
    {% set research_prof = data | filter(attribute="position", value="Research Professor") %}
    {% if research_prof %}
    <h3>Research Professor</h3>
    {% for member in research_prof %}
    <p><b>{{ member.name | markdown(inline=true) | safe }}</b>
    <ul class="member-list">
        <li>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
        <li>Office: {{ member.location }}</li>
        {% if member.links %}
        <li>Link: {% for link_data in member.links %} <u><a href="{{ link_data.link }}">[{{ link_data.link_type }}]</a></u>{% endfor %}</li>
        {% endif %}
    </ul>
    {% endfor %}
    <hr/><br/>
    {% endif %}
    {% set postdoc = data | filter(attribute="position", value="Post-Doc") %}
    {% if postdoc %}
    <h3>Post-Doc</h3>
    {% for member in postdoc %}
    <p><b>{{ member.name | markdown(inline=true) | safe }}</b></p>
    <ul class="member-list">
        <li>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
        <li>Office: {{ member.location }}</li>
        {% if member.links %}
        <li>Link: {% for link_data in member.links %} <u><a href="{{ link_data.link }}">[{{ link_data.link_type }}]</a></u>{% endfor %}</li>
        {% endif %}
    </ul>
    {% endfor %}
    <hr/><br/>
    {% endif %}
    {% set grad = data | filter(attribute="position", value="Graduate") %}
    {% if grad %}
    <h3>Graduate Student</h3>
    {% for member in grad %}
    <p><b>{{ member.name | markdown(inline=true) | safe }}</b></p>
    <ul class="member-list">
        <li>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
        <li>Office: {{ member.location }}</li>
        {% if member.links %}
        <li>Link: {% for link_data in member.links %} <u><a href="{{ link_data.link }}">[{{ link_data.link_type }}]</a></u>{% endfor %}</li>
        {% endif %}
    </ul>
    {% endfor %}
    <hr/><br/>
    {% endif %}
    {% set undergrad = data | filter(attribute="position", value="Undergraduate") %}
    {% if undergrad %}
    <h3>Undergraduate Student</h3>
    {% for member in undergrad %}
    <p><b>{{ member.name | markdown(inline=true) | safe }}</b></p>
    <ul class="member-list">
        <li>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
        <li>Office: {{ member.location }}</li>
        {% if member.links %}
        <li>Link: {% for link_data in member.links %} <u><a href="{{ link_data.link }}">[{{ link_data.link_type }}]</a></u>{% endfor %}</li>
        {% endif %}
    </ul>
    {% endfor %}
    <hr/><br/>
    {% endif %}
    {% set alumni = data | filter(attribute="position", value="Alumni") %}
    {% if alumni %}
    <h3>Alumni</h3>
    {% for member in alumni %}
    <p><b>{{ member.name | markdown(inline=true) | safe }}</b></p>
    <ul class="member-list">
        {% if member.email %}
        <li>Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
        {% endif %}
        {% if member.location %}
        <li>Position: {{ member.location }}</li>
        {% endif %}
        {% if member.links %}
        <li>Link: {% for link_data in member.links %} <u><a href="{{ link_data.link }}">[{{ link_data.link_type }}]</a></u>{% endfor %}</li>
        {% endif %}
    </ul>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}
